.event {
    min-height: 90px;
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: var(--shadow-bottom-soft);
    cursor: pointer;
    transition: var(--hover-transition);
    overflow: hidden;
    flex-shrink: 0;
}


.event:hover {
    transform: scale(1.01);
    transition: var(--hover-transition);
    background-color: #1f2d46 !important;
}

.event .time {
    font-weight: 300;
}

.event .title {
    font-weight: 500;
    font-size: 20px;
}

.event.light .time,
.event.light .title {
    color: white;
}

.event.dark .time,
.event.dark .title {
    color: white;
}

.event>div {
    flex-grow: 1;
}

.event>div>span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event_detail{
    font-size: 0.9rem;
    margin-top: 1.5vh;
}

.event_detail>div{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .event .title{
        font-size: 16px;
        overflow: hidden;
    }

    .iconGroup{
        font-size: 4vw !important;
    }
}